Repository anchore/vunnel, pull requests merged in 2024-09, with the labels that each got.

#672 chore: switch to new yardstick validate
  .github/actions/quality-gate/action.yaml
  poetry.lock
  pyproject.toml
  tests/quality/Makefile
  tests/quality/README.md
  tests/quality/config.yaml
  tests/quality/configure.py
  tests/quality/gate.py
  tests/quality/validate-namespaces.py
Labels: changelog-ignore, run-pr-quality-gate

#689 chore: use grype-db from main
  tests/quality/config.yaml
Labels: run-pr-quality-gate

#690 Add awaiting response management
  .github/workflows/remove-awaiting-response-label.yaml
Labels: changelog-ignore
